<header class="section-header-home reveal">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid header4_component">
                    <div class="header4_content">
                        <div class="margin-bottom margin-small">
                            <div *ngIf="config.pagina" class="div-block-28 tagline_izquierda">
                                <div class="text-weight-semibold">{{config.pagina}}</div>
                            </div>
                            <h1 class="heading-16"><strong class="heading-19">{{config.titulo}}</strong></h1>
                        </div>
                        <p class="text-size-medium">{{config.detalle}}<br></p>
                        <a *ngIf="!config.isDownLoad" [href]="config.botonComienza" target="_blank"
                            class="button-secondary btn_seg boton_mobile_center w-button">¡Comienza ahora!</a>
                        <div *ngIf="config.isDownLoad">
                            <div class="w-layout-grid grid-19 ajuste_grid_app_mobile"><a 
                                    href="https://apps.apple.com/cl/app/justo-drivers/id1468539209" target="_blank"
                                    class="w-inline-block"><img
                                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/629671c629e6b6dc5474cc18_App_Black_01.svg"
                                        loading="lazy" alt="" class="hover_botones"></a><a 
                                    href="https://play.google.com/store/apps/details?id=com.orioneat.delivery.drivers&amp;hl=es_4"
                                    class="w-inline-block"><img
                                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/629671c629e6b66b0e74cc17_App_Black_02.svg"
                                        loading="lazy" alt="" class="hover_botones"></a></div>
                        </div>
                    </div><img [src]="config.imagen" loading="lazy" data-w-id="b9054b30-d677-8d46-de02-3765335ff134"
                        sizes="(max-width: 991px) 90vw, 43vw" alt="" class="header4_lightbox-image imagen_commander_02"
                        style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
            </div>
        </div>
    </div>
</header>