<app-seccion1 [config]="seccion1"></app-seccion1>
<app-seccion2 [config]="seccion2"></app-seccion2>
<app-seccion3 [config]="seccion3"></app-seccion3>
<header class="section-header-home espaciado_seccion_mobile padding_seccion_25">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid header4_component">
                    <div class="header4_content">
                        <div class="margin-bottom margin-small">
                            <h1 class="heading-16"><strong class="heading-19">Ellos ya son Drivers</strong></h1>
                        </div>
                        <p class="text-size-medium text_izquierda">Ellos están generando ingresos y manejando sus
                            tiempos<br>¿Y tú qué esperas? <span class="text-span-19">¡Descárgala ahora!</span><br></p>
                        <div>
                            <div class="w-layout-grid grid-19 ajuste_grid_app_mobile"><a
                                    id="w-node-_6aac3549-7b8d-5912-168c-a04bfef51636-68936f01"
                                    href="https://apps.apple.com/cl/app/justo-drivers/id1468539209" target="_blank"
                                    class="w-inline-block"><img
                                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/629671c629e6b6dc5474cc18_App_Black_01.svg"
                                        loading="lazy" alt="" class="hover_botones"></a><a
                                    id="w-node-_6aac3549-7b8d-5912-168c-a04bfef51638-68936f01"
                                    href="https://play.google.com/store/apps/details?id=com.orioneat.delivery.drivers&amp;hl=es_4"
                                    target="_blank" class="w-inline-block"><img
                                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/629671c629e6b66b0e74cc17_App_Black_02.svg"
                                        loading="lazy" alt="" class="hover_botones"></a></div>
                        </div>
                        <div class="div-block-28 verde tagline_izquierda mobile_driver_tagline">
                            <div class="text-weight-semibold text_verde">Testimonios</div>
                        </div>
                    </div>
                    <div class="pricing1_component">
                        <section class="section-testimonial7">
                            <div class="page-padding-5">
                                <div class="container-large">
                                    <div class="padding-vertical padding-xhuge">
                                        <div class="testimonial7_component margin_testimonio_mobile w-slider">

                                            <div class="testimonial7_mask w-slider-mask" id="w-slider-mask-0"
                                                style="max-width: 540px;">
                                                <app-glide [bullets]="true" [settings]="settings">
                                                    <div class="testimonial7_slide margin_testimonio_mobile w-slide"
                                                        style="transform: translateX(0px); opacity: 1;">
                                                        <div class="testimonial7_content margin_testimonio_mobile">
                                                            <div class="margin-vertical margin-medium">
                                                                <div class="heading-small margin_testimonio_mobile">"He
                                                                    logrado manejar mis propios tiempos y me conecto
                                                                    cuando
                                                                    tengo disponibilidad, además, la plataforma es súper
                                                                    didáctica y fácil de manejar"<br>‍</div>
                                                            </div>
                                                            <p class="text-weight-semibold-10">Erwin Hernández</p>
                                                            <p>Driver de Ecuador</p>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial7_slide w-slide" aria-hidden="true"
                                                        style="transform: translateX(0px); opacity: 1;">
                                                        <div class="testimonial7_content" aria-hidden="true">
                                                            <div class="margin-vertical margin-medium"
                                                                aria-hidden="true">
                                                                <div class="heading-small" aria-hidden="true">"Justo es
                                                                    muy
                                                                    buena para trabajar, para cualquier problema te
                                                                    entrega
                                                                    soporte y te apoya bastante para hacer un correcto
                                                                    delivery"</div>
                                                            </div>
                                                            <p class="text-weight-semibold-10" aria-hidden="true">Fabio
                                                                Hernández</p>
                                                            <p aria-hidden="true">Driver de Chile</p>
                                                        </div>
                                                    </div>
                                                </app-glide>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<app-seccion4 [config]="seccion4"></app-seccion4>