<header class="section-header-home padding_commander">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid header4_component">
                    <div id="w-node-_22691d90-b3cb-9521-93aa-6891a89bae0a-e15ecfff" class="header4_content">
                        <div class="margin-bottom margin-small">
                            <div class="div-block-28 tagline_izquierda">
                                <div class="text-weight-semibold">E-commerce</div>
                            </div>
                            <h1 class="heading-16"><strong class="text-block-33">Aumenta tus ventas a través de tu
                                    propio sitio web</strong></h1>
                            <p class="text-size-medium">Desarrollamos tu propio canal de ventas digital donde tu marca
                                siempre será la protagonista.<br></p><a href="https://unete.getjusto.com/"
                                class="button-secondary btn_seg boton_mobile_center w-button">¡Comienza ahora!</a>
                        </div>
                    </div><img
                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62ceee4c8730ba0005126e58_hero_Ecommerce.png"
                        loading="lazy" data-w-id="22691d90-b3cb-9521-93aa-6891a89bae18"
                        srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62ceee4c8730ba0005126e58_hero_Ecommerce-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62ceee4c8730ba0005126e58_hero_Ecommerce-p-800.png 800w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62ceee4c8730ba0005126e58_hero_Ecommerce-p-1080.png 1080w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62ceee4c8730ba0005126e58_hero_Ecommerce.png 1200w"
                        sizes="(max-width: 479px) 100vw, (max-width: 991px) 90vw, 43vw" alt=""
                        class="header4_lightbox-image"
                        style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.893635, 0.893635, 0.677275) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-25 w-container">
    <section class="section-pricing18">
        <div class="page-padding-6">
            <div class="container-large-2">
                <div class="padding-vertical padding-xhuge">
                    <div class="margin-bottom margin-xxlarge">
                        <div class="text-align-center">
                            <div class="max-width-large-2 align-center">
                                <div class="margin-bottom margin-small">
                                    <h2 data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbbd" class="heading-19 align-center"
                                        style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.964956, 0.964956, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        Digitalízate:&nbsp;tu canal de ventas online a un solo click</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-layout-grid pricing18_components">
                        <div data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbc0" class="pricing18_plan"
                            style="will-change: transform, opacity; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                            <div class="pricing18_content">
                                <div class="pricing18_content-top">
                                    <div class="margin-bottom margin-medium">
                                        <div class="text-align-center">
                                            <div class="iconos_google icono_color_tama-o_categorias_morado">
                                                sentiment_satisfied</div>
                                            <div class="text_descripcion_producto">100% autogestionable</div>
                                            <div class="text_descripcion_producto ajustes_texto_descripcion_producto">
                                                Realiza modificaciones en tu sitio web de manera fácil y sencilla</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbcb" class="pricing18_plan"
                            style="will-change: transform, opacity; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                            <div class="pricing18_content">
                                <div class="pricing18_content-top">
                                    <div class="margin-bottom margin-medium">
                                        <div class="text-align-center">
                                            <div class="iconos_google icono_color_tama-o_categorias_morado">credit_score
                                            </div>
                                            <div class="text_descripcion_producto">Pasarela de pago</div>
                                            <div class="text_descripcion_producto ajustes_texto_descripcion_producto">
                                                Pasarela de pagos 100% segura para ti y tus clientes</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbd6" class="pricing18_plan"
                            style="will-change: transform, opacity; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                            <div class="pricing18_content">
                                <div class="pricing18_content-top">
                                    <div class="margin-bottom margin-medium">
                                        <div class="text-align-center">
                                            <div class="iconos_google icono_color_tama-o_categorias_morado">leaderboard
                                            </div>
                                            <div class="text_descripcion_producto">Análisis de<br>datos</div>
                                            <div class="text_descripcion_producto ajustes_texto_descripcion_producto">
                                                Los resultados y la data de tu negocio en tiempo real</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbe1" class="pricing18_plan"
                            style="will-change: transform, opacity; transform: translate3d(0px, 1.5351px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                            <div class="pricing18_content">
                                <div class="pricing18_content-top">
                                    <div class="margin-bottom margin-medium">
                                        <div class="text-align-center">
                                            <div class="iconos_google icono_color_tama-o_categorias_morado">
                                                folder_shared</div>
                                            <div class="text_descripcion_producto">Bases de<br>tus clientes</div>
                                            <div class="text_descripcion_producto ajustes_texto_descripcion_producto">La
                                                información más importante de tus clientes en un solo lugar </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbec" class="pricing18_plan"
                            style="will-change: transform, opacity; transform: translate3d(0px, 1.5351px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                            <div class="pricing18_content">
                                <div class="pricing18_content-top">
                                    <div class="margin-bottom margin-medium">
                                        <div class="text-align-center">
                                            <div class="iconos_google icono_color_tama-o_categorias_morado">settings
                                            </div>
                                            <div class="text_descripcion_producto">Integraciones</div>
                                            <div class="text_descripcion_producto ajustes_texto_descripcion_producto">
                                                Nos conectamos a&nbsp;las principales plataformas de tu negocio. Todo en
                                                un mismo lugar. </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbf7" class="pricing18_plan"
                            style="will-change: transform, opacity; transform: translate3d(0px, 1.5351px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                            <div class="pricing18_content">
                                <div class="pricing18_content-top">
                                    <div class="margin-bottom margin-medium">
                                        <div class="text-align-center">
                                            <div class="iconos_google icono_color_tama-o_categorias_morado">
                                                support_agent</div>
                                            <div class="text_descripcion_producto">Soporte</div>
                                            <div class="text_descripcion_producto ajustes_texto_descripcion_producto">
                                                Equipo de atención para resolver y ayudarte en lo que necesites. </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<header class="section-header-home reveal">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid header4_component">
                    <div class="header4_content">
                        <div class="margin-bottom margin-small">
                            <div class="div-block-28 tagline_izquierda">
                                <div class="text-weight-semibold">E-commerce</div>
                            </div>
                            <h1 class="heading-16"><strong class="heading-19">¿Listo para digitalizar tu
                                    comercio?&nbsp;Estás justo a tiempo</strong></h1>
                        </div>
                        <p class="text-size-medium _1-3em">Empieza tu proceso de digitalización y en pocos días te
                            entregaremos tu sitio web listo para vender.<br></p><a href="https://unete.getjusto.com/"
                            target="_blank" class="button-secondary btn_seg boton_mobile_center w-button">¡Comienza
                            ahora!</a>
                    </div><img
                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bdde0f5a9d59f8cb4dcf1b_Ecommerce.png"
                        loading="lazy" data-w-id="b9054b30-d677-8d46-de02-3765335ff134"
                        srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bdde0f5a9d59f8cb4dcf1b_Ecommerce-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bdde0f5a9d59f8cb4dcf1b_Ecommerce-p-800.png 800w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bdde0f5a9d59f8cb4dcf1b_Ecommerce-p-1080.png 1080w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bdde0f5a9d59f8cb4dcf1b_Ecommerce.png 1200w"
                        sizes="(max-width: 479px) 100vw, (max-width: 991px) 90vw, 43vw" alt=""
                        class="header4_lightbox-image imagen_commander_02"
                        style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
            </div>
        </div>
    </div>
</header>

<header class="section-header-home reveal">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge"></div>
        </div>
    </div>
</header>

<section class="section-faq1 seccion_preguntas_frecuentes reveal">
    <div class="page-padding-3">
        <div class="container-small">
            <div class="padding-vertical padding-xhuge">
                <div class="margin-bottom margin-xxlarge">
                    <div class="text-align-center">
                        <div class="max-width-large">
                            <div class="margin-bottom margin-small">
                                <h2 class="heading-19 align-center">¿Tienes dudas? Quizás aquí las podemos resolver</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq1_component">
                    <ng-container  *ngFor="let item of dudas">
                    <div class="faq1_accordion">
                        <div class="faq1_question">
                            <div class="text-size-medium-4 text-weight-bold">{{item.titulo}}
                            </div><img (click)="item.abrir=!item.abrir"
                                src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg"
                                loading="lazy" alt="" class="faq1_icon">
                        </div>
                        <div style="width: 100%;" class="faq1_answer" [@toggleBox]="item.abrir ? 'open' : 'closed'">
                            <div class="margin-bottom margin-small margin_faq">
                                <p *ngFor="let sub of item.parrafos" class="preguntas_frecuentes">{{sub}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>