<app-seccion1 [config]="seccion1"></app-seccion1>
<header class="section-header28 espaciado_mobile padding_seccion_25">
    <div class="page-padding-7">
        <div class="container-large-4">
            <div class="padding-vertical padding-xhuge">
                <div class="header28_component">
                    <div class="margin-bottom margin-xxlarge">
                        <div class="text-align-center">
                            <div class="max-width-large-2">
                                <div class="margin-bottom margin-small">
                                    <h1 class="heading-19 align-center"><strong>Descubre Commander y sus
                                            beneficios</strong></h1>
                                </div>
                                <p class="text-size-medium-7 margin_txt espaciado_mobile">En menos de 2 minutos te
                                    explicamos cómo funciona Commander, desde pedir una orden hasta aceptar un pago.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-w-id="1e2162df-dfc9-2e8d-8222-e890c3c46399" class="w-container"
                    style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.803959, 0.803959, 0.826735) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    <a href="#" class="header28_lightbox w-inline-block w-lightbox" aria-label="open lightbox"
                        aria-haspopup="dialog"><img
                            src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/630f818ca7aae44d1226be28_Commander_03.png"
                            loading="lazy"
                            srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/630f818ca7aae44d1226be28_Commander_03-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/630f818ca7aae44d1226be28_Commander_03-p-800.png 800w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/630f818ca7aae44d1226be28_Commander_03-p-1080.png 1080w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/630f818ca7aae44d1226be28_Commander_03-p-1600.png 1600w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/630f818ca7aae44d1226be28_Commander_03.png 1613w"
                            sizes="(max-width: 479px) 88vw, (max-width: 767px) 99vw, (max-width: 991px) 94vw, 933.0078125px"
                            alt="" class="header28_lightbox-image">
                        <div class="lightbox-play-icon-2 w-embed"><svg width="64" height="64" viewBox="0 0 64 64"
                                fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M5.33301 32C5.33301 17.2724 17.2721 5.33334 31.9997 5.33334C39.0721 5.33334 45.8549 8.14286 50.8559 13.1438C55.8568 18.1448 58.6663 24.9276 58.6663 32C58.6663 46.7276 46.7273 58.6667 31.9997 58.6667C17.2721 58.6667 5.33301 46.7276 5.33301 32ZM27.1198 43.4134L42.6664 33.7067C43.2482 33.3341 43.6001 32.6909 43.6001 32C43.6001 31.3092 43.2482 30.6659 42.6664 30.2934L27.0664 20.5867C26.452 20.1993 25.6758 20.1755 25.0388 20.5244C24.4018 20.8734 24.004 21.5403 23.9998 22.2667V41.7334C23.9912 42.4774 24.3963 43.1647 25.0514 43.5174C25.7065 43.8702 26.5033 43.8301 27.1198 43.4134Z"
                                    fill="CurrentColor"></path>
                            </svg></div>
                        <div data-w-id="781275d1-c918-31bb-2a42-6bd1767d4195" class="video-overlay-layer-2"
                            style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.804529, 0.804529, 0.825785) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </div>
                        <script type="application/json" class="w-json">{
      "items": [
        {
          "url": "https://www.youtube.com/watch?v=ebpHIlSNv4Y",
          "originalUrl": "https://www.youtube.com/watch?v=ebpHIlSNv4Y",
          "width": 940,
          "height": 528,
          "thumbnailUrl": "https://i.ytimg.com/vi/ebpHIlSNv4Y/hqdefault.jpg",
          "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FebpHIlSNv4Y%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DebpHIlSNv4Y&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FebpHIlSNv4Y%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen\" allowfullscreen=\"true\"></iframe>",
          "type": "video"
        }
      ],
      "group": ""
    }</script>
                    </a></div>
            </div>
        </div>
    </div>
</header>
<header class="section-header-home padding_seccion_25">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid header4_component">
                    <div class="header4_content">
                        <div class="margin-bottom margin-small">
                            <div class="div-block-28 tagline_izquierda morado">
                                <div class="text-weight-semibold text_morado">Recomendaciones inteligentes</div>
                            </div>
                            <h1 class="heading-16"><strong class="heading-19">Ofrece los mejores platos a tus
                                    clientes</strong></h1>
                        </div>
                        <p class="text-size-medium">Recomienda a tus clientes los mejores platos a partir del análisis
                            de miles de datos de compra instantáneamente<br></p>
                    </div><img
                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bde09f5fb3ae5b767b2949_C-commander.png"
                        loading="lazy" data-w-id="65c7f5eb-2d89-ef96-af3e-6e50ba7304b6"
                        srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bde09f5fb3ae5b767b2949_C-commander-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bde09f5fb3ae5b767b2949_C-commander-p-800.png 800w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bde09f5fb3ae5b767b2949_C-commander-p-1080.png 1080w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bde09f5fb3ae5b767b2949_C-commander.png 1200w"
                        sizes="(max-width: 991px) 90vw, 43vw" alt="" class="header4_lightbox-image imagen_commander_02"
                        style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
            </div>
        </div>
    </div>
</header>
<section class="seccion_img_izq padding_seccion_25">
    <div class="page-padding-4">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid layout207_component-2">
                    <div class="layout207_image-wrapper-2 imagen_mobile"><img
                            src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d9baaa69c49a0f505cea99_commander_02.png"
                            loading="lazy" data-w-id="f2a6021a-9de9-012e-05ca-210593f93fa0"
                            srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d9baaa69c49a0f505cea99_commander_02-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d9baaa69c49a0f505cea99_commander_02.png 800w"
                            sizes="(max-width: 479px) 81vw, (max-width: 767px) 90vw, 42vw" alt=""
                            class="image-106 img_padding"
                            style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    </div>
                    <div id="w-node-f2a6021a-9de9-012e-05ca-210593f93fa1-6887623b" class="layout207_content-2">
                        <div class="margin-bottom margin-xsmall mobile_tagline">
                            <div class="text-weight-semibold-6 div-block-28 verde text_verde">Pedidos Populares</div>
                        </div>
                        <h1 class="heading-16"><strong class="heading-19 _1-3em">Sugiere tus pedidos más populares al
                                instante</strong></h1>
                        <div class="margin-bottom margin-small">
                            <p class="text-size-medium _1-3em">Potencia la atención ofreciendo los pedidos más
                                solicitados y que identifican a tu restaurante<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<header class="section-header-home padding_seccion_25">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid header4_component">
                    <div class="header4_content">
                        <div class="margin-bottom margin-small">
                            <div class="div-block-28 tagline_izquierda">
                                <div class="text-weight-semibold">Medios de Pago</div>
                            </div>
                            <h1 class="heading-16"><strong class="heading-19">Acepta todo tipo de pagos, desde efectivo
                                    hasta tarjetas</strong></h1>
                        </div>
                        <p class="text-size-medium">Commander está integrado con las principales pasarelas de pago,
                            tarjetas de crédito o débito, e incluso puedes cobrar en efectivo.<br></p>
                    </div><img
                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d98f5f7849b5000f44ed84_commander_06.png"
                        loading="lazy" data-w-id="b9054b30-d677-8d46-de02-3765335ff134"
                        srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d98f5f7849b5000f44ed84_commander_06-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d98f5f7849b5000f44ed84_commander_06-p-800.png 800w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d98f5f7849b5000f44ed84_commander_06.png 1200w"
                        sizes="(max-width: 991px) 90vw, 43vw" alt="" class="header4_lightbox-image"
                        style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
            </div>
        </div>
    </div>
</header>
<header class="section-header-home padding_commander bg_coomander bg_mobile padding_seccion_25">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid header4_component">
                    <div id="w-node-_22691d90-b3cb-9521-93aa-6891a89bae0a-6887623b" class="header4_content">
                        <div class="margin-bottom margin-small">
                            <div class="div-block-28 tagline_izquierda morado">
                                <div class="text-weight-semibold text_morado">Delivery &amp; track</div>
                            </div>
                            <h1 class="heading-16"><strong class="heading-19 text_color_blanco blanco">Desde tu
                                    teléfono, hasta tu puerta</strong></h1>
                            <p class="text-size-medium text_color_blanco">Commander integra todas tus herramientas y
                                plataformas necesarias para pedir, pagar y entregar tus pedidos.<br></p>
                        </div>
                        <div class="div-block-32">
                            <div class="w-layout-grid grid-19 ajuste_grid_app_mobile"><a
                                    href="https://pos.getjusto.com/commander"
                                    id="w-node-b4f6176e-d35a-c73f-cccf-71415efb2f05-6887623b"
                                    class="boton_primario btn_azul_justo w-button">Comienza a Vender</a><a
                                    id="w-node-b4f6176e-d35a-c73f-cccf-71415efb2f07-6887623b"
                                    href="https://unete.getjusto.com/"
                                    class="button-secondary boton_gris boton_transparente w-button">¿No eres cliente?
                                    Únete&nbsp;</a></div>
                        </div>
                    </div><img
                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d96fbedfeb8866d744204f_commander_04.png"
                        loading="lazy" data-w-id="22691d90-b3cb-9521-93aa-6891a89bae18"
                        srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d96fbedfeb8866d744204f_commander_04-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d96fbedfeb8866d744204f_commander_04-p-800.png 800w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d96fbedfeb8866d744204f_commander_04.png 1200w"
                        sizes="(max-width: 479px) 84vw, (max-width: 991px) 81vw, 40vw" alt=""
                        class="header4_lightbox-image"
                        style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
            </div>
        </div>
    </div>
</header>
<section class="seccion_img_izq espaciado_mobile">
    <div class="page-padding-4">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid layout207_component-2">
                    <div class="layout207_image-wrapper-2 imagen_mobile"><img
                            src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d9932249788b3bef29d2c7_commander_07.png"
                            loading="lazy" data-w-id="e06d4d25-cae1-d785-5972-e712ef36f8a9"
                            srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d9932249788b3bef29d2c7_commander_07-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d9932249788b3bef29d2c7_commander_07-p-800.png 800w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d9932249788b3bef29d2c7_commander_07.png 1200w"
                            sizes="(max-width: 479px) 81vw, (max-width: 767px) 90vw, 42vw" alt=""
                            style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    </div>
                    <div id="w-node-e06d4d25-cae1-d785-5972-e712ef36f8aa-6887623b" class="layout207_content-2">
                        <div class="margin-bottom margin-xsmall mobile_tagline">
                            <div class="text-weight-semibold-6 div-block-28 verde text_verde">Campaña de descuentos
                            </div>
                        </div>
                        <h1 class="heading-16"><strong class="heading-19">Canjea cupones de descuentos, integrados ya
                                con tu e-commerce</strong></h1>
                        <div class="margin-bottom margin-small">
                            <p class="text-size-medium">Commander se integra automáticamente a los cupones de descuentos
                                creados en tu e-commerce.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<header class="section-header-home padding_seccion_25">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid header4_component">
                    <div class="header4_content">
                        <div class="margin-bottom margin-small">
                            <div class="div-block-28 tagline_izquierda">
                                <div class="text-weight-semibold">Reporting</div>
                            </div>
                            <h1 class="heading-16"><strong class="heading-19">Conoce el tono de tus ventas
                                    telefónicas&nbsp;</strong></h1>
                        </div>
                        <p class="text-size-medium">Commander permite analizar tus ventas, conociendo el comportamiento
                            de compra de tus clientes, analizando tus ventas según pedidos, clientes nuevos y
                            recurrentes, horarios, categorías, etc.<br></p>
                    </div><img
                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d996ee79fbead84f6e4c66_commander_08.png"
                        loading="lazy" data-w-id="535c0372-47de-9c2a-5df3-76efd52b327e"
                        srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d996ee79fbead84f6e4c66_commander_08-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d996ee79fbead84f6e4c66_commander_08-p-800.png 800w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d996ee79fbead84f6e4c66_commander_08.png 1200w"
                        sizes="(max-width: 991px) 90vw, 43vw" alt="" class="header4_lightbox-image imagen_commander_02"
                        style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
            </div>
        </div>
    </div>
</header>
<header class="section-header-home bg_commander">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge"></div>
        </div>
    </div>
</header>
<header class="header_interstellar bg_coomander">
    <div class="page-padding-7">
        <div class="container-small">
            <div class="padding-vertical padding-xhuge">
                <div class="text-align-center-2">
                    <div class="margin-bottom margin-small">
                        <h1 class="heading-19 text_color_blanco blanco espacio align-center"><strong>Actívate y agiliza
                                tus ventas telefónica en minutos</strong></h1>
                    </div>
                    <div class="margin-top margin-medium">
                        <div class="button-row-4 is-button-row-center"><a href="#"
                                class="button-secondary-2 w-button">Button</a><a
                                href="https://pos.getjusto.com/commander"
                                class="button-5 button-secondary btn_seg boton_centro btn_azul_justo ajuste_boton_cierre_commander w-button">Comienza
                                a Vender</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="section-faq1 seccion_preguntas_frecuentes">
    <div class="page-padding-3">
        <div class="container-small">
            <div class="padding-vertical padding-xhuge">
                <div class="margin-bottom margin-xxlarge">
                    <div class="text-align-center">
                        <div class="max-width-large">
                            <div class="margin-bottom margin-small">
                                <h2 class="heading-19 align-center">¿Tienes dudas? Quizás aquí las podemos resolver</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq1_component">
                    <div class="faq1_accordion">
                        <div data-w-id="c610823b-7081-c8fc-5c7c-b2b46adac760" class="faq1_question">
                            <div class="text-size-medium-4 text-weight-bold">¿Necesito tener contratado Justo para poder
                                usar Justo Commander?</div><img
                                src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg"
                                loading="lazy" alt="" class="faq1_icon">
                        </div>
                        <div style="width: 100%; height: 0px;" class="faq1_answer">
                            <div class="margin-bottom margin-small margin_faq">
                                <p class="preguntas_frecuentes">Si, necesitas tener un sitio web de Justo activo para
                                    poder usar Commander. Si no tienes tu marca activa entra a unete.getjusto.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq1_accordion">
                        <div data-w-id="c610823b-7081-c8fc-5c7c-b2b46adac769" class="faq1_question">
                            <div class="text-size-medium-4 text-weight-bold">¿Funciona si tengo una integración del POS?
                            </div><img
                                src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg"
                                loading="lazy" alt="" class="faq1_icon">
                        </div>
                        <div style="width: 100%; height: 0px;" class="faq1_answer">
                            <div class="margin-bottom margin-small margin_faq">
                                <p class="preguntas_frecuentes">Si, funciona con todas las integraciones que tienes
                                    activas en tu página web.</p>
                            </div>
                        </div>
                    </div>
                    <div class="faq1_accordion">
                        <div data-w-id="c610823b-7081-c8fc-5c7c-b2b46adac772" class="faq1_question">
                            <div class="text-size-medium-4 text-weight-bold">¿El pedido se autoacepta?</div><img
                                src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg"
                                loading="lazy" alt="" class="faq1_icon">
                        </div>
                        <div style="width: 100%; height: 0px;" class="faq1_answer">
                            <div class="margin-bottom margin-small margin_faq">
                                <p class="preguntas_frecuentes">Debes aceptar el pedidos tu POS, pero puedes configurar
                                    que todos los pedidos -incluyendo ecommerce- sean autoaceptados.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>