
<header class="section-header-home padding_commander">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid header4_component">
                    <div id="w-node-_22691d90-b3cb-9521-93aa-6891a89bae0a-24719ec2" class="header4_content">
                        <div class="margin-bottom margin-small">
                            <div class="div-block-28 tagline_izquierda">
                                <div class="text-weight-semibold">App Propia</div>
                            </div>
                            <h1 class="heading-16"><strong class="text-block-33">Vende más a través de tu propia
                                    App</strong></h1>
                            <p class="text-size-medium">Desarrollamos tu nuevo canal de ventas digital a través de una
                                aplicación móvil (Apple iOS + Google Android) donde tu marca es la protagonista.<br></p>
                            <a href="https://unete.getjusto.com/"
                                class="button-secondary btn_seg boton_mobile_center w-button">¡Comienza ahora!</a>
                        </div>
                    </div><img
                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62b627ce5539fa3d11054234_Hero-Justo-APP.png"
                        loading="lazy" data-w-id="22691d90-b3cb-9521-93aa-6891a89bae18"
                        srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62b627ce5539fa3d11054234_Hero-Justo-APP-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62b627ce5539fa3d11054234_Hero-Justo-APP-p-800.png 800w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62b627ce5539fa3d11054234_Hero-Justo-APP-p-1080.png 1080w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62b627ce5539fa3d11054234_Hero-Justo-APP.png 1200w"
                        sizes="(max-width: 991px) 90vw, 43vw" alt="" class="header4_lightbox-image"
                        style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.913888, 0.913888, 0.64352) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-25 w-container">
    <section class="section-pricing18">
        <div class="page-padding-6">
            <div class="container-large-2">
                <div class="padding-vertical padding-xhuge">
                    <div class="margin-bottom margin-xxlarge">
                        <div class="text-align-center">
                            <div class="max-width-large-2 align-center">
                                <div class="margin-bottom margin-small">
                                    <h2 data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbbd" class="heading-19 align-center"
                                        style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.931084, 0.931084, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        Súmate a la tendencia digital de las Apps</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-layout-grid pricing18_components">
                        <div data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbc0" class="pricing18_plan"
                            style="will-change: transform, opacity; transform: translate3d(0px, 0.2052px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                            <div class="pricing18_content">
                                <div class="pricing18_content-top">
                                    <div class="margin-bottom margin-medium">
                                        <div class="text-align-center">
                                            <div class="iconos_google icono_color_tama-o_categorias_morado">
                                                sentiment_satisfied</div>
                                            <div class="text_descripcion_producto">100% autogestionable</div>
                                            <div class="text_descripcion_producto ajustes_texto_descripcion_producto">
                                                Realiza modificaciones en tu web y se reflejarán en tiempo real en tu
                                                App</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbcb" class="pricing18_plan"
                            style="will-change: transform, opacity; transform: translate3d(0px, 0.2052px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                            <div class="pricing18_content">
                                <div class="pricing18_content-top">
                                    <div class="margin-bottom margin-medium">
                                        <div class="text-align-center">
                                            <div class="iconos_google icono_color_tama-o_categorias_morado">trending_up
                                            </div>
                                            <div class="text_descripcion_producto">Impulsa tus ventas</div>
                                            <div class="text_descripcion_producto ajustes_texto_descripcion_producto">
                                                Crea publicidad desde la plataforma para usuarios y clientes de la app
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbd6" class="pricing18_plan"
                            style="will-change: transform, opacity; transform: translate3d(0px, 0.2052px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                            <div class="pricing18_content">
                                <div class="pricing18_content-top">
                                    <div class="margin-bottom margin-medium">
                                        <div class="text-align-center">
                                            <div class="iconos_google icono_color_tama-o_categorias_morado">leaderboard
                                            </div>
                                            <div class="text_descripcion_producto">Reportería</div>
                                            <div class="text_descripcion_producto ajustes_texto_descripcion_producto">
                                                Resultados e indicadores más importantes de tu negocio en tiempo real
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbe1" class="pricing18_plan"
                            style="will-change: transform, opacity; transform: translate3d(0px, 10.9854px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0.677199;">
                            <div class="pricing18_content">
                                <div class="pricing18_content-top">
                                    <div class="margin-bottom margin-medium">
                                        <div class="text-align-center">
                                            <div class="iconos_google icono_color_tama-o_categorias_morado">
                                                folder_shared</div>
                                            <div class="text_descripcion_producto">Bases de tus clientes</div>
                                            <div class="text_descripcion_producto ajustes_texto_descripcion_producto">La
                                                información más importante de tus clientes en un solo lugar</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbec" class="pricing18_plan"
                            style="will-change: transform, opacity; transform: translate3d(0px, 10.9854px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0.677199;">
                            <div class="pricing18_content">
                                <div class="pricing18_content-top">
                                    <div class="margin-bottom margin-medium">
                                        <div class="text-align-center">
                                            <div class="iconos_google icono_color_tama-o_categorias_morado">settings
                                            </div>
                                            <div class="text_descripcion_producto">Integraciones</div>
                                            <div class="text_descripcion_producto ajustes_texto_descripcion_producto">
                                                Nos conectamos a las plataformas que utilizas para tu negocio</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-w-id="6a9184e7-63a7-53df-b63a-bff317f0fbf7" class="pricing18_plan"
                            style="will-change: transform, opacity; transform: translate3d(0px, 10.9854px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0.677199;">
                            <div class="pricing18_content">
                                <div class="pricing18_content-top">
                                    <div class="margin-bottom margin-medium">
                                        <div class="text-align-center">
                                            <div class="iconos_google icono_color_tama-o_categorias_morado">
                                                support_agent</div>
                                            <div class="text_descripcion_producto">Soporte</div>
                                            <div class="text_descripcion_producto ajustes_texto_descripcion_producto">
                                                Equipo de atención para ayudarte y resolver todas tus dudas</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<header class="section-header-home reveal">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid header4_component">
                    <div class="header4_content">
                        <div class="margin-bottom margin-small">
                            <div class="div-block-28 tagline_izquierda">
                                <div class="text-weight-semibold">App. Propia</div>
                            </div>
                            <h1 class="heading-16"><strong class="heading-19">Tu canal de ventas online en el bolsillo
                                    de tus clientes</strong></h1>
                        </div>
                        <p class="text-size-medium">¿Existe una herramienta de fidelización más potente?<br>Incentiva de
                            forma consistente a tus usuarios, quien tiene tu aplicación siempre será un aliado a la hora
                            de vender.<br></p><a href="https://unete.getjusto.com/" target="_blank"
                            class="button-secondary btn_seg boton_mobile_center w-button">¡Comienza ahora!</a>
                    </div><img
                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bdde1049d1167b029a4f90_apppropia.png"
                        loading="lazy" data-w-id="b9054b30-d677-8d46-de02-3765335ff134"
                        srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bdde1049d1167b029a4f90_apppropia-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bdde1049d1167b029a4f90_apppropia-p-800.png 800w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bdde1049d1167b029a4f90_apppropia-p-1080.png 1080w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62bdde1049d1167b029a4f90_apppropia.png 1200w"
                        sizes="(max-width: 991px) 90vw, 43vw" alt="" class="header4_lightbox-image imagen_commander_02"
                        style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.70171, 0.70171, 0.99715) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
            </div>
        </div>
    </div>
</header>

<header class="section-header-home reveal">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge"></div>
        </div>
    </div>
</header>

<section class="section-faq1 seccion_preguntas_frecuentes reveal">
    <div class="page-padding-3">
        <div class="container-small">
            <div class="padding-vertical padding-xhuge">
                <div class="margin-bottom margin-xxlarge">
                    <div class="text-align-center">
                        <div class="max-width-large">
                            <div class="margin-bottom margin-small">
                                <h2 class="heading-19 align-center">¿Tienes dudas? Quizás aquí las podemos resolver</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="faq1_component">
                    <ng-container  *ngFor="let item of dudas">
                    <div class="faq1_accordion">
                        <div class="faq1_question">
                            <div class="text-size-medium-4 text-weight-bold">{{item.titulo}}
                            </div><img (click)="item.abrir=!item.abrir"
                                src="https://uploads-ssl.webflow.com/624380709031623bfe4aee60/624380709031625d694aee83_icon_chevron.svg"
                                loading="lazy" alt="" class="faq1_icon">
                        </div>
                        <div style="width: 100%;" class="faq1_answer" [@toggleBox]="item.abrir ? 'open' : 'closed'">
                            <div class="margin-bottom margin-small margin_faq">
                                <p *ngFor="let sub of item.parrafos" class="preguntas_frecuentes">{{sub}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>