<header class="section-header-home ajuste_hero_seccion_mobile alto_head_header padding_seccion_header">
    <div class="page-padding">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid header4_component">
                    <div class="header4_content">
                        <div class="margin-bottom margin-small">
                            <div class="text-block-33"><span class="colorazul_text_header">pardo, tu aliado digital para
                                    impulsar tu negocio</span></div>
                        </div>
                        <p class="text-size-medium text_izquierda"><br>Miles de negocios en Latinoamérica usan pardo
                            para vender de forma directa, realizar despachos a domicilio y aumentar sus ventas a través
                            de nuestras soluciones digitales<br></p>
                    </div><img
                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62d03c2c90100c26cdd69a6a_animar_hero.gif"
                        loading="lazy" data-w-id="b9054b30-d677-8d46-de02-3765335ff134"
                        id="w-node-b9054b30-d677-8d46-de02-3765335ff134-ff74cb8d" alt=""
                        class="header4_lightbox-image gif_header espacio">
                </div>
            </div>
        </div>
    </div>
 
</header>
<section data-w-id="66b53cf5-dae7-48af-d6b2-30db620bef9f" class="carrusel_home">
    <app-glide [bullets]="false" [settings]="settings">
        <div class="logo3_list" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]">
            <div class="logo3_wrapper"><img
                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/629671c629e6b656ba74cc73_Domino_logo.png"
                    loading="lazy" alt="" class="logo3_logo"></div>
        </div>
    </app-glide>
</section>
<section class="seccion_img_izq espaciado_mobile reveal">
    <div class="page-padding-4">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid layout207_component-2">
                    <div data-aos="zoom-in" class="layout207_image-wrapper-2 imagen_mobile"><img
                            src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62aa42fa1fafbe581726d852_01.png"
                            loading="lazy" data-w-id="b6c9b06e-a23c-98db-f07d-c56fdf078172"
                            srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62aa42fa1fafbe581726d852_01-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62aa42fa1fafbe581726d852_01.png 800w"
                            sizes="100vw" alt=""
                            style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 0.5) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    </div>
                    <div id="w-node-b6c9b06e-a23c-98db-f07d-c56fdf078173-ff74cb8d" class="layout207_content-2">
                        <div class="margin-bottom margin-xsmall mobile_tagline">
                            <div class="text-weight-semibold-6 div-block-28">Vende Directo</div>
                        </div>
                        <div class="margin-bottom margin-small">
                            <h2 class="heading-19">Desarrollamos y optimizamos tus canales de venta propios</h2>
                        </div>
                        <div class="layout207_item-list-2"><a id="w-node-b6c9b06e-a23c-98db-f07d-c56fdf07817e-ff74cb8d"
                                href="/productos/vende-directo/e-commerce"
                                class="layout207_item text_mobile_home_productos w-inline-block">
                                <div class="layout207_item-icon-wrapper">
                                    <div class="iconos_google icono_color_tama-o_home_azul">add_circle</div>
                                </div>
                                <div class="layout207_item-text-wrapper">
                                    <p class="paragraph-22"><span class="azul"><strong>E-Commerce:</strong></span>
                                        Transforma tu web en el principal canal de ventas y rentabiliza tu negocio
                                        digital</p>
                                </div>
                            </a><a id="w-node-b6c9b06e-a23c-98db-f07d-c56fdf078184-ff74cb8d"
                                href="/productos/vende-directo/app-propia"
                                class="layout207_item text_mobile_home_productos w-inline-block">
                                <div class="layout207_item-icon-wrapper">
                                    <div class="iconos_google icono_color_tama-o_home_azul">add_circle</div>
                                </div>
                                <div class="layout207_item-text-wrapper">
                                    <p class="paragraph-23"><span class="azul"><strong>App
                                                Propia:</strong></span><strong> </strong>Tu aplicación móvill para estar
                                        más cerca de tus clientes. </p>
                                </div>
                            </a><a id="w-node-b6c9b06e-a23c-98db-f07d-c56fdf07818a-ff74cb8d"
                                href="/productos/vende-directo/c-commerce"
                                class="layout207_item text_mobile_home_productos w-inline-block">
                                <div class="layout207_item-icon-wrapper">
                                    <div class="iconos_google icono_color_tama-o_home_azul">add_circle</div>
                                </div>
                                <div class="layout207_item-text-wrapper">
                                    <p class="paragraph-24"><strong class="bold-text-26">C-Commerce: </strong>El canal
                                        de venta conversacional a través de nuestro Whatsapp 100% automatizado.</p>
                                </div>
                            </a><a id="w-node-_3ac26ce7-d785-7283-90dc-62e833e2e95a-ff74cb8d"
                                href="/productos/vende-directo/pardo-commander"
                                class="layout207_item text_mobile_home_productos w-inline-block">
                                <div class="layout207_item-icon-wrapper">
                                    <div class="iconos_google icono_color_tama-o_home_azul">add_circle</div>
                                </div>
                                <div class="layout207_item-text-wrapper">
                                    <p class="paragraph-24"><strong class="bold-text-27">pardo Commander: </strong>Un
                                        Sistema inteligente que acelera la gestión y venta telefónica de pedidos.</p>
                                </div>
                            </a><a id="w-node-_2b5de297-9cee-f422-5d22-25bb26fc11c2-ff74cb8d"
                                href="/productos/vende-directo/qr-2-0"
                                class="layout207_item text_mobile_home_productos w-inline-block">
                                <div class="layout207_item-icon-wrapper">
                                    <div class="iconos_google icono_color_tama-o_home_azul">add_circle</div>
                                </div>
                                <div class="layout207_item-text-wrapper">
                                    <p class="paragraph-24"><strong class="bold-text-28">QR&nbsp;2.0 Pide a la mesa:
                                        </strong>Tus comensales podrán pedir directamente desde su celular. </p>
                                </div>
                            </a><a id="w-node-_108ab82c-aebc-88c1-7199-915852e38105-ff74cb8d"
                                href="/productos/vende-directo/pardo-commander"
                                class="layout207_item text_mobile_home_productos w-inline-block"></a><a
                                id="w-node-_352d3447-fc4e-7016-b388-e47af25c8ff2-ff74cb8d" href="#"
                                class="layout207_item text_mobile_home_productos w-inline-block"></a><a
                                id="w-node-_9eec48c7-253d-22a7-10b1-2d443ff8b84a-ff74cb8d" href="#"
                                class="layout207_item text_mobile_home_productos w-inline-block"></a></div>
                        <div class="margin-top margin-medium">
                            <div class="button-row-2 boton_mobile_center"><a href="https://unete.getpardo.com/"
                                    target="_blank"
                                    class="button-secondary btn_seg boton_mobile_center ocultar_bton_home w-button">¡Comienza
                                    ahora!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seccion_img_der margin_5 reveal">
    <div class="page-padding-4">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid layout16_component">
                    <div class="layout16_content">
                        <div class="margin-bottom margin-xsmall mobile_tagline">
                            <div class="text-weight-semibold-7 div-block-28 verde text_verde">Despacho a domicilio</div>
                        </div>
                        <div class="margin-bottom margin-small">
                            <h2 class="heading-19">Entrega tus productos con una flota de repartidores y con GPS</h2>
                        </div>
                        <div class="layout16_item-list text_izquierda text_mobile_home_productos"><a
                                href="/productos/despacho-a-domicilio/delivery" class="layout16_item w-inline-block">
                                <div class="layout16_item-icon-wrapper">
                                    <div class="iconos_google icono_color_tama-o_home_verde">add_circle</div>
                                </div>
                                <div class="layout16_item-text-wrapper">
                                    <div class="layout207_item-text-wrapper">
                                        <p class="paragraph-24 text_mobile_home_productos text_mobile_home_verde">
                                            <strong class="bold-text-29">Delivery: </strong>Más de 80.000 repartidores
                                            en latinoamérica te permitirán entregar tus productos inmediatamente.
                                        </p>
                                    </div>
                                </div>
                            </a><a href="/productos/despacho-a-domicilio/pardo-track"
                                class="layout16_item w-inline-block">
                                <div class="layout16_item-icon-wrapper">
                                    <div class="iconos_google icono_color_tama-o_home_verde">add_circle</div>
                                </div>
                                <div class="layout16_item-text-wrapper text_mobile_home_productos">
                                    <div class="layout207_item-text-wrapper">
                                        <p class="paragraph-24 text_mobile_home_verde"><strong
                                                class="bold-text-30">pardo Track:</strong> Ahora tus despachadores
                                            podrán dar seguimiento por mapa y en tiempo real de la entrega de los
                                            productos.</p>
                                    </div>
                                </div>
                            </a></div>
                        <div class="margin-top margin-medium">
                            <div class="button-row-2 boton_mobile_center">
                                <div class="button-row-2"><a href="https://unete.getpardo.com/" target="_blank"
                                        class="button-secondary btn_seg boton_mobile_center ocultar_bton_home w-button">¡Comienza
                                        ahora!</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="layout16_image-wrapper"><img
                            src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62cf1c5835bc61f3f85d636a_hero_drivers.png"
                            loading="lazy" data-w-id="ff343277-f433-d4eb-f1d2-a34f85d6b1d5"
                            srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62cf1c5835bc61f3f85d636a_hero_drivers-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62cf1c5835bc61f3f85d636a_hero_drivers-p-800.png 800w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62cf1c5835bc61f3f85d636a_hero_drivers.png 1200w"
                            sizes="100vw" alt="" class="image-89"
                            style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 0.5) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seccion_img_izq espaciado_mobile reveal">
    <div class="page-padding-4">
        <div class="container-large">
            <div class="padding-vertical padding-xhuge">
                <div class="w-layout-grid layout207_component-2">
                    <div data-aos="zoom-in" class="layout207_image-wrapper-2 imagen_mobile"><img
                            src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62aa42fb0bc59e5da25f39a5_03.png"
                            loading="lazy" data-w-id="351afc9c-7f3c-92a2-2b30-96f2cb7fbf44"
                            srcset="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62aa42fb0bc59e5da25f39a5_03-p-500.png 500w, https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62aa42fb0bc59e5da25f39a5_03.png 800w"
                            sizes="100vw" alt="" class="image-87"
                            style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 0.5) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                    </div>
                    <div id="w-node-_351afc9c-7f3c-92a2-2b30-96f2cb7fbf45-ff74cb8d" class="layout207_content-2">
                        <div class="margin-bottom margin-xsmall mobile_tagline">
                            <div class="text-weight-semibold-6 div-block-28 morado text_morado">Aumenta tus ventas</div>
                        </div>
                        <div class="margin-bottom margin-small">
                            <h2 class="heading-19">Herramientas de marketing para aumentar ventas y fidelizar clientes
                            </h2>
                        </div>
                        <div class="layout207_item-list-2 text_mobile_home_productos"><a
                                href="/productos/aumenta-tus-ventas/email-marketing"
                                class="layout207_item w-inline-block">
                                <div class="layout207_item-icon-wrapper">
                                    <div class="iconos_google icono_color_tama-o_home_morado">add_circle</div>
                                </div>
                                <div class="layout207_item-text-wrapper">
                                    <p class="paragraph-22"><strong class="bold-text-31">Email Marketing:</strong> Con
                                        tu propia data y base de clientes podrás generar campañas masivas de emails.
                                    </p>
                                </div>
                            </a><a href="/productos/aumenta-tus-ventas/pardo-ads" class="layout207_item w-inline-block">
                                <div class="layout207_item-icon-wrapper">
                                    <div class="iconos_google icono_color_tama-o_home_morado">add_circle</div>
                                </div>
                                <div class="layout207_item-text-wrapper">
                                    <p class="paragraph-23"><strong class="bold-text-32">pardo Ads: </strong>Aumenta la
                                        cantidad de clientes y ventas a través de publicidad online.</p>
                                </div>
                            </a></div>
                        <div class="margin-top margin-medium">
                            <div class="button-row-2 boton_mobile_center"><a href="https://unete.getpardo.com/"
                                    class="button-secondary btn_seg boton_mobile_center ocultar_bton_home w-button">¡Comienza
                                    ahora!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-testimonio [config]="testimonioConfig"></app-testimonio>
<section class="cta_cierre margin_cta_home margin_5 reveal">
    <div class="page-padding-4">
        <div class="container-small">
            <div class="padding-vertical padding-xhuge">
                <div class="text-align-center">
                    <div class="margin-bottom margin-small">
                        <h2 data-w-id="bfbf5e03-5d3d-566c-e692-ae646b5558ef" class="heading-19 align-center"
                            style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.921276, 0.921276, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            <strong class="bold-text-34">Únete y se parte de más de 10.000 restaurantes y comercios en
                                Latinoamérica 🌎&nbsp;</strong>
                        </h2>
                        <h2 data-w-id="5a4324cb-1bc1-a2a4-3c18-b3cc3abcdd37" class="heading-25 clase_text_2em"
                            style="will-change: transform; transform: translate3d(0px, 0px, 0px) scale3d(0.898572, 0.898572, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            Estamos presentes en más de 60 ciudades de Chile 🇨🇱, Colombia 🇨🇴, México 🇲🇽, Perú
                            🇵🇪, Ecuador 🇪🇨 y Costa Rica 🇨🇷</h2>
                    </div>
                    <div class="margin-top margin-medium">
                        <div class="button-row-3 is-button-row-center">
                            <div class="button-row-2 boton_mobile_center">
                                <div class="button-row-2"><a href="https://unete.getpardo.com/" target="_blank"
                                        class="button-secondary btn_seg w-button">¡Comienza ahora!</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>