<div role="banner" class="navbar7_component w-nav">
    <div class="navbar7_container">
        <a href="/" class="navbar7_logo-link w-nav-brand" aria-label="home"><img src="../../../../assets/img/logo.svg"
                loading="lazy" width="112" alt="" class="navbar7_logo" /></a>
        <nav role="navigation" class="navbar7_menu w-nav-menu" #navmenu>
            <div class="navbar7_menu-left">
                <div class="navbar7_menu-dropdown w-dropdown">
                    <div id="productos" (click)="open(null, navmenu, iconNav)"
                        class="navbar7_dropdown-toggle margen_nav_pardo w-dropdown-toggle"
                        aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false" role="button"
                        tabindex="0">
                        <div #iconNav class="dropdown-icon w-icon-dropdown-toggle" aria-hidden="true" style="
                transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                  rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                transform-style: preserve-3d;
              "></div>
                        <div class="text-block-25">Productos</div>
                    </div>
                    <nav [@toggleBox]="openMenu ? 'open' : 'closed'"
                        class="navbar7_dropdown-list w-dropdown-list w--open" style="opacity: 1"
                        aria-labelledby="w-dropdown-toggle-0">
                        <div class="navbar7_container">
                            <div class="navbar7_dropdown-content">
                                <div class="navbar7_dropdown-content-left">
                                    <ng-container *ngFor="let item of menuItems">
                                        <div class="navbar7_dropdown-link-list">
                                            <h4 class="text-size-small text-weight-semibold">
                                                Producto
                                            </h4>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold txt_categoria_nav">
                                                    <strong class="bold-text-13">{{item.modulo}}</strong>
                                                </div>
                                            </div>
                                            <a *ngFor="let item of item.items" [href]="item.url"
                                                class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                                <div class="navbar7_icon-wrapper">
                                                    <div class="iconos_google color_icono_azul">
                                                        {{item.icono}}
                                                    </div>
                                                </div>
                                                <div class="navbar7_item-right">
                                                    <div class="text-weight-semibold">
                                                        <strong class="bold-text-13">{{item.nombre}}</strong>
                                                    </div>
                                                </div>
                                            </a>

                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="overflow-custom" (click)="open(null, navmenu, iconNav)" *ngIf="openMenu"></div>
                </div>

                <div data-hover="true" data-delay="300"
                    class="navbar7_menu-dropdown ocultar_seccion_nosotros w-dropdown">
                    <div class="navbar7_dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-1"
                        aria-controls="w-dropdown-list-1" aria-haspopup="menu" aria-expanded="false" role="button"
                        tabindex="0">
                        <div class="dropdown-icon w-icon-dropdown-toggle" aria-hidden="true"></div>
                        <div class="text-block-25">Nosotros</div>
                    </div>
                    <nav class="navbar7_dropdown-list w-dropdown-list" aria-labelledby="w-dropdown-toggle-1"
                        style="opacity: 0">
                        <div class="navbar7_container">
                            <div class="navbar7_dropdown-content">
                                <div class="navbar7_dropdown-content-left">
                                    <div class="navbar7_dropdown-link-list">
                                        <h4 class="text-size-small text-weight-semibold">
                                            Sobre nosotros
                                        </h4>
                                        <a href="#" class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper">
                                                <img loading="lazy"
                                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a800fe2bce0ca521ce919c_nosotros.svg"
                                                    alt="" class="icon-xsmall" />
                                            </div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold">Nuestra historia</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="navbar7_dropdown-link-list">
                                        <h4 class="text-size-small text-weight-semibold">
                                            Sobre nosotros
                                        </h4>
                                        <a href="#" class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper">
                                                <img loading="lazy"
                                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a8002e19e6385c3c683963_prensa.svg"
                                                    alt="" class="icon-xsmall" />
                                            </div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold">Prensa</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="navbar7_dropdown-link-list">
                                        <h4 class="text-size-small text-weight-semibold">
                                            Sobre nosotros
                                        </h4>
                                        <a href="#" class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper">
                                                <img loading="lazy"
                                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a8002eb1059541b6d57404_valores.svg"
                                                    alt="" class="icon-xsmall" />
                                            </div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold">Valores pardo</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="navbar7_dropdown-link-list">
                                        <h4 class="text-size-small text-weight-semibold">
                                            Sobre nosotros
                                        </h4>
                                        <a href="#" class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper">
                                                <img loading="lazy"
                                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a8002e1621a692354a091c_trabaja.svg"
                                                    alt="" class="icon-xsmall" />
                                            </div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold">Trabaja en pardo</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <a href="/restaurantes" class="navbar3_link-2 navbar7_dropdown-toggle w-nav-link">Integraciones</a>
            </div>
            <div class="navbar7_menu-right">
                <div data-hover="true" data-delay="200" data-w-id="a74620f4-60d6-e61a-a65c-c8bea62dc1c9"
                    class="navbar11_menu-dropdown ocultar_seccion_nosotros w-dropdown">
                    <div class="navbar11_dropdown-toggle w-dropdown-toggle" id="w-dropdown-toggle-2"
                        aria-controls="w-dropdown-list-2" aria-haspopup="menu" aria-expanded="false" role="button"
                        tabindex="0">
                        <div class="dropdown-icon-2 w-icon-dropdown-toggle" aria-hidden="true"></div>
                        <img src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4d4ea44ff86064abbd_chile.png"
                            loading="lazy" alt="" class="icon-xsmall" />
                    </div>
                    <nav class="navbar11_dropdown-list w-dropdown-list" id="w-dropdown-list-2"
                        aria-labelledby="w-dropdown-toggle-2" style="
              transform: translate3d(0px, 3rem, 0px) scale3d(1, 1, 1)
                rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
              transform-style: preserve-3d;
              opacity: 0;
            ">
                        <div class="navbar11_dropdown-link-list">
                            <a href="#" class="navbar11_dropdown-link w-inline-block" tabindex="0">
                                <div class="navbar11_icon-wrapper">
                                    <img src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4d4ea44ff86064abbd_chile.png"
                                        loading="lazy" alt="" class="icon-xsmall" />
                                </div>
                                <div class="navbar11_text-wrapper">
                                    <div class="text-weight-semibold-4">Chile</div>
                                </div>
                            </a><a href="#" class="navbar11_dropdown-link w-inline-block" tabindex="0">
                                <div class="navbar11_icon-wrapper">
                                    <img src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4cc75eadaba5c71f1c_mexico.png"
                                        loading="lazy" alt="" class="icon-xsmall" />
                                </div>
                                <div class="navbar11_text-wrapper">
                                    <div class="text-weight-semibold-4">México</div>
                                </div>
                            </a><a href="#" class="navbar11_dropdown-link w-inline-block" tabindex="0">
                                <div class="navbar11_icon-wrapper">
                                    <img src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4c0a7ffa459268a723_ecuador.png"
                                        loading="lazy" alt="" class="icon-xsmall" />
                                </div>
                                <div class="navbar11_text-wrapper">
                                    <div class="text-weight-semibold-4">Ecuador</div>
                                </div>
                            </a><a href="#" class="navbar11_dropdown-link w-inline-block" tabindex="0">
                                <div class="navbar11_icon-wrapper">
                                    <img src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4c0789726066f478fb_peru.png"
                                        loading="lazy" alt="" class="icon-xsmall" />
                                </div>
                                <div class="navbar11_text-wrapper">
                                    <div class="text-weight-semibold-4">Perú</div>
                                </div>
                            </a><a href="#" class="navbar11_dropdown-link w-inline-block" tabindex="0">
                                <div class="navbar11_icon-wrapper">
                                    <img src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4c79544f559cc62661_colombia.png"
                                        loading="lazy" alt="" class="icon-xsmall" />
                                </div>
                                <div class="navbar11_text-wrapper">
                                    <div class="text-weight-semibold-4">Colombia</div>
                                </div>
                            </a><a href="#" class="navbar11_dropdown-link w-inline-block" tabindex="0">
                                <div class="navbar11_icon-wrapper">
                                    <img src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4b7503ef553c289347_costarica.png"
                                        loading="lazy" alt="" class="icon-xsmall" />
                                </div>
                                <div class="navbar11_text-wrapper">
                                    <div class="text-weight-semibold-4">Costa Rica</div>
                                </div>
                            </a>
                        </div>
                    </nav>
                </div>
                <a href="/drivers" class="button-5 is-button-small boton_secundario w-button">Sé&nbsp;Driver</a><a
                    href="https://pide.getpardo.com/" target="_blank"
                    class="button-5 is-button-small boton_secundario w-button">Pide delivery</a><a
                    href="https://unete.getpardo.com/" target="_blank"
                    class="button-5 is-button-small estilo_btn_mobile w-button">¡Contrata pardo!</a>
            </div>
        </nav>
        <div class="navbar7_menu-button w-nav-button" style="-webkit-user-select: text;" aria-label="menu" role="button"
            tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
            <div class="menu-icon" *ngIf="!openMenuMobile" (click)="openMenuMobile=!openMenuMobile;isMobile=!isMobile">
                <div class="menu-icon_line-top"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
                <div class="menu-icon_line-middle" style="width: 24px; height: 2px;">
                    <div class="menu-icon_line-middle-inner"></div>
                </div>
                <div class="menu-icon_line-bottom"
                    style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
            </div>
            <div class="menu-icon" *ngIf="openMenuMobile" (click)="openMenuMobile=!openMenuMobile;isMobile=!isMobile">
                <div class="menu-icon_line-top"
                    style="transform: translate3d(0px, 8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
                <div class="menu-icon_line-middle" style="width: 0px; height: 2px;">
                    <div class="menu-icon_line-middle-inner"></div>
                </div>
                <div class="menu-icon_line-bottom"
                    style="transform: translate3d(0px, -8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                </div>
            </div>
        </div>
    </div>
    <div class="w-nav-overlay" [ngClass]="{'open-menu-mobile':!isMobile,'close-menu-mobile':isMobile}"  id="w-nav-overlay-0">
        <nav role="navigation" class="navbar7_menu w-nav-menu"
            style="transform: translateY(0px) translateX(0px); transition: transform 400ms ease 0s;"
            data-nav-menu-open="">
            <div class="navbar7_menu-left">
                <div data-hover="true" data-delay="300" data-w-id="a33a7c3b-a93f-690e-53ad-11a15d368f74"
                    class="navbar7_menu-dropdown w-dropdown w--nav-dropdown-open" style="">
                    <div (click)="openMenuProductMobile=!openMenuProductMobile" class="navbar7_dropdown-toggle margen_nav_justo w-dropdown-toggle w--nav-dropdown-toggle-open"
                        id="w-dropdown-toggle-0" aria-controls="w-dropdown-list-0" aria-haspopup="menu"
                        aria-expanded="false" role="button" tabindex="0" >
                        <div class="dropdown-icon w-icon-dropdown-toggle" aria-hidden="true"
                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        </div>
                        <div class="text-block-25">Productos</div>
                    </div>
                    <nav class="navbar7_dropdown-list w-dropdown-list w--nav-dropdown-list-open w--open"  [@toggleBox]="openMenuProductMobile ? 'open' : 'closed'"
                        style="width: 337.5px; height: 0px;" id="w-dropdown-list-0"
                        aria-labelledby="w-dropdown-toggle-0">
                        <div class="navbar7_container">
                            <div class="navbar7_dropdown-content">
                                {{openMenuProductMobile}}
                                <div class="navbar7_dropdown-content-left">
                                    <div id="w-node-a33a7c3b-a93f-690e-53ad-11a15d368f7d-5d368f6e"
                                        class="navbar7_dropdown-link-list">
                                        <h4 class="text-size-small text-weight-semibold">Producto</h4>
                                        <div class="navbar7_item-right">
                                            <div class="text-weight-semibold txt_categoria_nav"><strong
                                                    class="bold-text-13">Vende Directo</strong></div>
                                        </div><a href="/productos/vende-directo/e-commerce"
                                            class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper">
                                                <div class="iconos_google color_icono_azul">shopping_cart</div>
                                            </div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold"><strong
                                                        class="bold-text-13">E-commerce</strong></div>
                                            </div>
                                        </a><a href="/productos/vende-directo/app-propia"
                                            class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper">
                                                <div class="iconos_google color_icono_azul">app_shortcut<br></div>
                                            </div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold"><strong class="bold-text-14">App
                                                        propia</strong></div>
                                            </div>
                                        </a><a href="/productos/vende-directo/c-commerce"
                                            class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper">
                                                <div class="iconos_google color_icono_azul">security_update_good</div>
                                            </div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold"><strong
                                                        class="bold-text-14">C-commerce </strong><span
                                                        class="tagline_nuevo"><strong
                                                            class="bold-text-14">Nuevo</strong></span></div>
                                            </div>
                                        </a><a href="/productos/vende-directo/justo-commander"
                                            class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper">
                                                <div class="iconos_google color_icono_azul">support_agent</div>
                                            </div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold"><strong class="bold-text-14">Justo
                                                        Commander </strong><span class="tagline_nuevo"><strong
                                                            class="bold-text-14">Nuevo</strong></span></div>
                                            </div>
                                        </a><a href="/productos/vende-directo/qr-2-0"
                                            class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper">
                                                <div class="iconos_google color_icono_azul">qr_code_2<br></div>
                                            </div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold"><strong class="bold-text-14">QR 2.0
                                                    </strong><span class="tagline_nuevo"><strong
                                                            class="bold-text-14">Nuevo</strong></span></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="w-node-c54c5d63-0b5d-df1d-fe44-1b6d3c7c067f-5d368f6e"
                                        class="navbar7_dropdown-link-list">
                                        <h4 class="text-size-small text-weight-semibold">Producto</h4>
                                        <div class="navbar7_item-right">
                                            <div class="text-weight-semibold txt_categoria_nav"><strong
                                                    class="bold-text-13">Despacho a domicilio</strong></div>
                                        </div><a id="w-node-c54c5d63-0b5d-df1d-fe44-1b6d3c7c0687-5d368f6e"
                                            href="/productos/despacho-a-domicilio/delivery"
                                            class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper">
                                                <div class="iconos_google color_icono_azul">sports_motorsports</div>
                                            </div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold"><strong
                                                        class="bold-text-13">Delivery</strong></div>
                                            </div>
                                        </a><a href="/productos/despacho-a-domicilio/justo-track"
                                            class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper">
                                                <div class="iconos_google color_icono_azul">map</div>
                                            </div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold"><strong class="bold-text-14">Justo
                                                        Track</strong></div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="w-node-d4e9d93b-dacd-5510-c0da-315b30cf158e-5d368f6e"
                                        class="navbar7_dropdown-link-list">
                                        <h4 class="text-size-small text-weight-semibold">Producto</h4>
                                        <div class="navbar7_item-right">
                                            <div class="text-weight-semibold txt_categoria_nav"><strong
                                                    class="bold-text-13">Aumenta tus ventas</strong></div>
                                        </div><a href="/productos/aumenta-tus-ventas/email-marketing"
                                            class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper">
                                                <div class="iconos_google color_icono_azul">mail</div>
                                            </div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold"><strong class="bold-text-13">Email
                                                        marketing</strong></div>
                                            </div>
                                        </a><a href="/productos/aumenta-tus-ventas/justo-ads"
                                            class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper">
                                                <div class="iconos_google color_icono_azul">ads_click</div>
                                            </div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold"><strong class="bold-text-14">Justo Ads
                                                    </strong><span class="tagline_nuevo"><strong
                                                            class="bold-text-14">Nuevo</strong></span></div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div data-hover="true" data-delay="300" data-w-id="a33a7c3b-a93f-690e-53ad-11a15d368fdc"
                    class="navbar7_menu-dropdown ocultar_seccion_nosotros w-dropdown w--nav-dropdown-open">
                    <div class="navbar7_dropdown-toggle w-dropdown-toggle w--nav-dropdown-toggle-open"
                        id="w-dropdown-toggle-1" aria-controls="w-dropdown-list-1" aria-haspopup="menu"
                        aria-expanded="false" role="button" tabindex="0">
                        <div class="dropdown-icon w-icon-dropdown-toggle" aria-hidden="true"></div>
                        <div class="text-block-25">Nosotros</div>
                    </div>
                    <nav class="navbar7_dropdown-list w-dropdown-list w--nav-dropdown-list-open" id="w-dropdown-list-1"
                        aria-labelledby="w-dropdown-toggle-1" style="height: 0px;">
                        <div class="navbar7_container">
                            <div class="navbar7_dropdown-content">
                                <div class="navbar7_dropdown-content-left">
                                    <div id="w-node-a33a7c3b-a93f-690e-53ad-11a15d368fe5-5d368f6e"
                                        class="navbar7_dropdown-link-list">
                                        <h4 class="text-size-small text-weight-semibold">Sobre nosotros</h4><a href="#"
                                            class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper"><img loading="lazy"
                                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a800fe2bce0ca521ce919c_nosotros.svg"
                                                    alt="" class="icon-xsmall"></div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold">Nuestra historia</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="w-node-_43f1ab88-7b75-4d94-1217-1bd6b0d6dc9a-5d368f6e"
                                        class="navbar7_dropdown-link-list">
                                        <h4 class="text-size-small text-weight-semibold">Sobre nosotros</h4><a href="#"
                                            class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper"><img loading="lazy"
                                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a8002e19e6385c3c683963_prensa.svg"
                                                    alt="" class="icon-xsmall"></div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold">Prensa</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="w-node-a7ec8b57-4d9c-b80b-2c2c-02bfca8371e3-5d368f6e"
                                        class="navbar7_dropdown-link-list">
                                        <h4 class="text-size-small text-weight-semibold">Sobre nosotros</h4><a href="#"
                                            class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper"><img loading="lazy"
                                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a8002eb1059541b6d57404_valores.svg"
                                                    alt="" class="icon-xsmall"></div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold">Valores Justo</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div id="w-node-_903a2419-d11a-dd54-89b5-f6aa3f4510d1-5d368f6e"
                                        class="navbar7_dropdown-link-list">
                                        <h4 class="text-size-small text-weight-semibold">Sobre nosotros</h4><a href="#"
                                            class="navbar7_dropdown-link w-inline-block" tabindex="0">
                                            <div class="navbar7_icon-wrapper"><img loading="lazy"
                                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a8002e1621a692354a091c_trabaja.svg"
                                                    alt="" class="icon-xsmall"></div>
                                            <div class="navbar7_item-right">
                                                <div class="text-weight-semibold">Trabaja en Justo</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div><a href="/restaurantes"
                    class="navbar3_link-2 navbar7_dropdown-toggle w-nav-link w--nav-link-open">Integraciones</a>
            </div>
            <div class="navbar7_menu-right">
                <div data-hover="true" data-delay="200" data-w-id="a74620f4-60d6-e61a-a65c-c8bea62dc1c9"
                    class="navbar11_menu-dropdown ocultar_seccion_nosotros w-dropdown w--nav-dropdown-open">
                    <div class="navbar11_dropdown-toggle w-dropdown-toggle w--nav-dropdown-toggle-open"
                        id="w-dropdown-toggle-2" aria-controls="w-dropdown-list-2" aria-haspopup="menu"
                        aria-expanded="false" role="button" tabindex="0">
                        <div class="dropdown-icon-2 w-icon-dropdown-toggle" aria-hidden="true"></div><img
                            src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4d4ea44ff86064abbd_chile.png"
                            loading="lazy" alt="" class="icon-xsmall">
                    </div>
                    <nav class="navbar11_dropdown-list w-dropdown-list w--nav-dropdown-list-open" id="w-dropdown-list-2"
                        aria-labelledby="w-dropdown-toggle-2" style="height: 0px;">
                        <div class="navbar11_dropdown-link-list"><a href="#"
                                class="navbar11_dropdown-link w-inline-block" tabindex="0">
                                <div class="navbar11_icon-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4d4ea44ff86064abbd_chile.png"
                                        loading="lazy" alt="" class="icon-xsmall"></div>
                                <div class="navbar11_text-wrapper">
                                    <div class="text-weight-semibold-4">Chile</div>
                                </div>
                            </a><a href="#" class="navbar11_dropdown-link w-inline-block" tabindex="0">
                                <div class="navbar11_icon-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4cc75eadaba5c71f1c_mexico.png"
                                        loading="lazy" alt="" class="icon-xsmall"></div>
                                <div class="navbar11_text-wrapper">
                                    <div class="text-weight-semibold-4">México</div>
                                </div>
                            </a><a href="#" class="navbar11_dropdown-link w-inline-block" tabindex="0">
                                <div class="navbar11_icon-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4c0a7ffa459268a723_ecuador.png"
                                        loading="lazy" alt="" class="icon-xsmall"></div>
                                <div class="navbar11_text-wrapper">
                                    <div class="text-weight-semibold-4">Ecuador</div>
                                </div>
                            </a><a href="#" class="navbar11_dropdown-link w-inline-block" tabindex="0">
                                <div class="navbar11_icon-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4c0789726066f478fb_peru.png"
                                        loading="lazy" alt="" class="icon-xsmall"></div>
                                <div class="navbar11_text-wrapper">
                                    <div class="text-weight-semibold-4">Perú</div>
                                </div>
                            </a><a href="#" class="navbar11_dropdown-link w-inline-block" tabindex="0">
                                <div class="navbar11_icon-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4c79544f559cc62661_colombia.png"
                                        loading="lazy" alt="" class="icon-xsmall"></div>
                                <div class="navbar11_text-wrapper">
                                    <div class="text-weight-semibold-4">Colombia</div>
                                </div>
                            </a><a href="#" class="navbar11_dropdown-link w-inline-block" tabindex="0">
                                <div class="navbar11_icon-wrapper"><img
                                        src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62a25e4b7503ef553c289347_costarica.png"
                                        loading="lazy" alt="" class="icon-xsmall"></div>
                                <div class="navbar11_text-wrapper">
                                    <div class="text-weight-semibold-4">Costa Rica</div>
                                </div>
                            </a></div>
                    </nav>
                </div><a href="/drivers" aria-current="page"
                    class="button-5 is-button-small boton_secundario w-button w--current">Sé&nbsp;Driver</a><a
                    href="https://pide.getjusto.com/" target="_blank"
                    class="button-5 is-button-small boton_secundario w-button">Pide delivery</a><a
                    href="https://unete.getjusto.com/" target="_blank"
                    class="button-5 is-button-small estilo_btn_mobile w-button">¡Contrata Justo!</a>
            </div>
        </nav>
    </div>
</div>