<div class="footer_3-0">
    <div class="page-padding-4">
        <div class="container-large">
            <div class="padding-vertical padding-xxlarge">
                <div class="padding-bottom padding-xxlarge">
                    <div class="w-layout-grid footer3_top-wrapper">
                        <div id="w-node-_05bb8214-d6d9-9b7e-a4f8-887ee3e5c743-e3e5c73d"
                            class="w-layout-grid footer3_menu-wrapper">
                            <div class="margin-bottom margin-medium"><a href="#"
                                    class="footer3_logo-link w-nav-brand"><img
                                        src="../../../../assets/img/logo-blanco.svg" loading="lazy" width="128" alt=""
                                        class="image-95"></a></div>
                            <div id="w-node-_05bb8214-d6d9-9b7e-a4f8-887ee3e5c747-e3e5c73d" class="footer3_link-list"><a
                                    href="/productos/vende-directo/e-commerce" class="footer3_link">E-commerce</a><a
                                    href="/productos/vende-directo/app-propia" class="footer3_link">App propia</a><a
                                    href="/productos/vende-directo/c-commerce" class="footer3_link">C-commerce</a><a
                                    href="/productos/vende-directo/pardo-commander" class="footer3_link">pardo
                                    Commander</a><a href="/productos/vende-directo/qr-2-0" class="footer3_link">QR
                                    2.0</a><a href="/productos/despacho-a-domicilio/delivery"
                                    class="footer3_link">Delivery</a><a
                                    href="/productos/despacho-a-domicilio/pardo-track" class="footer3_link">pardo
                                    Track</a><a href="/productos/aumenta-tus-ventas/email-marketing"
                                    class="footer3_link">Email marketing</a><a
                                    href="/productos/aumenta-tus-ventas/pardo-ads" class="footer3_link">pardo Ads</a>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-_05bb8214-d6d9-9b7e-a4f8-887ee3e5c758-e3e5c73d"
                        class="w-layout-grid grid-18 mobile_grid_footer">
                        <div class="w-layout-grid footer3_social-list redes-sociales" data-aos="zoom-in">
                            <a 
                                id="w-node-_33323701-e8ad-45b4-acd5-9d0c2b7b0851-e3e5c73d"
                                href="https://www.instagram.com/getpardo/" target="_blank" class="w-inline-block"><img
                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62b48a489a0cae5760bed2df_instagram.svg"
                                    loading="lazy" alt="" class="image-100"></a>
                            <a 
                                id="w-node-eaeb6846-699a-26cb-d10b-67adee66674c-e3e5c73d"
                                href="https://www.facebook.com/getpardo/" target="_blank" class="w-inline-block"><img
                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62b4889c0956db3a521e64f0_facebook.svg"
                                    loading="lazy" alt="" class="image-100"></a>
                            <a 
                                id="w-node-_6066eca8-e125-5efb-5f31-e8585ec23fcc-e3e5c73d"
                                href="https://www.linkedin.com/company/getpardo/mycompany/" target="_blank"
                                class="w-inline-block"><img
                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62b48a49f796bf54506e7191_linkedin.svg"
                                    loading="lazy" alt="" class="image-100"></a>
                            <a 
                                id="w-node-_6ae93435-81e1-6968-1a0d-f3d1e8c3d3d2-e3e5c73d"
                                href="https://www.youtube.com/channel/UCMCFZDpLP2TPYTWA65U6xhQ" target="_blank"
                                class="w-inline-block"><img
                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62b48a480a2f1b73bdc4e40d_youtube.svg"
                                    loading="lazy" alt="" class="image-100"></a>
                            <a 
                                id="w-node-_91ad8c60-a723-697a-4462-bc9850b0cf9e-e3e5c73d"
                                href="https://www.tiktok.com/@pardoappchile" target="_blank" class="w-inline-block"><img
                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/62b48a48cda1a2297c9c18f8_tiktok.svg"
                                    loading="lazy" alt="" class="image-101"></a>
                        </div>
                        <div id="w-node-_05bb8214-d6d9-9b7e-a4f8-887ee3e5c762-e3e5c73d"
                            class="w-layout-grid footer3_social-list mobile_grid_app">
                            <a data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
                                href="https://play.google.com/store/apps/details?id=com.orioneat.app&amp;hl=es_CL&amp;gl=US"
                                target="_blank" class="footer3_social-link w-inline-block"><img
                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/629671c629e6b63d4474cbf1_app_01.svg"
                                    loading="lazy" alt="" class="image-93"></a>
                            <a data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
                                id="w-node-_05bb8214-d6d9-9b7e-a4f8-887ee3e5c765-e3e5c73d"
                                href="https://apps.apple.com/cl/app/pardo/id1460064457" target="_blank"
                                class="footer3_social-link w-inline-block"><img
                                    src="https://uploads-ssl.webflow.com/629671c629e6b6281674cb8b/629671c629e6b6bc6974cbec_app_02.svg"
                                    loading="lazy" alt="" class="image-94"></a>
                        </div>
                    </div>
                </div>
                <div class="line-divider"></div>
                <div class="padding-top padding-medium">
                    <div class="footer3_bottom-wrapper">
                        <div class="footer3_credit-text">Powered by pardo Copyright © 2022</div>
                        <div class="w-layout-grid footer3_legal-list"><a href="#"
                                class="footer3_legal-link">Privacidad</a><a href="#"
                                class="footer3_legal-link">Términos</a><a href="#"
                                class="footer3_legal-link">Política</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>